table {
    border-collapse: collapse;

  }
  
  td, tr {
    border: 1px solid #999;
    padding: 1.5rem;
    text-align: left;
  }

body {
    display: flex; justify-content: center; align-items: center; height: 80vh;
}

td:active {background-color: rgba(39, 218, 92, 0.8);}


  /* table tr:nth-child(odd) td:nth-child(even) {
    background-color: rgba(20, 20, 200, 0.7);
    z-index: 0;
  }
  table tr:nth-child(even) td:nth-child(odd) {
    background-color: rgba(20, 20, 200, 0.7);
    z-index: 0;
  } */
/* 
  .tagname {
    background: rgba(39, 218, 92, 0.384);
  } */
  /* <tr style="background-color:&#x2654;">...</tr> */

  /* #id1_1 {
    background-color: black;
  } */
  
.selected {
  background-color: rgba(39, 218, 92, 0.8);
}


.white-cell {
  background: rgba(255, 255, 255, 0.8);
}

.black-cell {
  background: rgba(20, 20, 200, 0.7);
}
/* .selected2 {
  background-color: rgba(223, 40, 16, 0.8);
  z-index: -1;
} */

.possible-move{
  background: rgba(231, 177, 61, 0.7);
}